/* @import './Home.css'; */
*{
    margin: 0;
}
.section-1{
    padding-bottom: 268px;
    background-color: #fff;
}
.title-section-1{
    font-size: 48px;
    font-weight: 700;
    color: #0cb8b6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-section-1 h3{
    margin: 0;
}
span{
    color: #1d2d5e;
}

.description-section-1{
    font-size: 26px;
    color: #1d2d5ed9;
    font-weight: 200;

}



/* section-2 */
.section-2{
    background-color: #1d2d5e;
    margin: 0;
}

.banner-health{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    bottom: 181px;
}


.img-section-2{
    display: flex;
    margin-left: 360px;
    gap: 20px;
}

.img-section-2 img{
    border-radius: 5px;

}
.action-video{
    width: 315px;
    height: 118px;
    display: flex;
    position: relative;
    bottom: -310px;
    right: 360px;
    border-radius: 99px 99px 20px;
    color: #1d2d5e;
    background-color: #0cb8b6;
}

.action-video a{
    color: #0cb8b6;
}
.action-video .icon{
    margin: 20px;
    padding: 15px;
    background-color: #1d2d5e;
    color:#0cb8b6;
}


.action-video .icon:hover{
    background-color: #fff;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .1);
    color: #1d2d5e;
}
.content-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.content-action h4{
    margin: 0;
    font-size: 20px;
    color: #1d2d5e;
}

.content-action small{
    font-size: 18px;
    color: #1d2d5e;
}

.banner-health h2{
    font-size: 40px;
    color: white;
}

.banner-health p{
    font-size: 20px;
    color: #cccccc;
    margin: 0;
}



/* Section 3 */

.section-3{
    margin: 0;
    position: relative;
    top: -84px;
}

.plan, .plan-title{
    display: flex;
}
.plan-detail{
    font-size: 80px;
    color: #1d2d5e;
    font-weight: 400;
    background-position: center top;
    background-size: cover;
    background-color: #fff;
    width: 80%;
    padding: 25px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 10px 30px 0px rgba(29, 45, 94, .15);
}

.plan-title-item{
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    color: #0cb8b6;
}


/* section 4 */
.section-4 .container{
    display: flex;
    gap: 20px;
}
.content-mission{
    width: 620px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.content-mission h2{
    width: 222px;
}

.content-mission .description{
    width: 520px;
    color: #1d2d5e;
}
.img-title p{
    position: relative;
    bottom: 15px;
}

.img-mission img{
    width: 590px;
}

.medical-conditions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
}

.medical-conditions-item{
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
}

.medical-conditions-item .icon{
    color: #0cb8b6;
}

.medical-conditions-item p{
    margin-top: 25px;
    font-weight: 700;
    color: #1d2d5e;
}


/* section 5 */

.section-5{
    margin: 0;
}
.section-5 .container{
    display: flex;
    background-color: #1d2d5e;
    color: white;
    padding-bottom: 52px;
    padding-top: 52px;
    border-radius: 25px;
}
.hiring{
    display: flex;
    gap: 25px;
    margin-left: 64px;
    margin-right: 64px;
    width: 838px;
}

.add-doctor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus{
    background-color: #0cb8b6;
    width: 72px;
    height: 72px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-plus{
    color: white;
    font-size: 44px;
}
.info-hiring h3{
    font-size: 32px;
}

.info-hiring p{
    color: #d4d4d4;
}
.action-hiring{
    width: 174px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0cb8b6;
    gap: 25px;
    background-color: white;
    border-radius: 99px;
    cursor: pointer;
}
.action-hiring:hover{
    width: 200px;
    height: 58px;
    background-color: #0cb8b6;
    color: white;
}
.excellent-choice {
    display: none; /* Ẩn phần tử này mặc định */
}

.action-hiring:hover .apply-hiring {
    display: none; /* Ẩn văn bản "Apply Now" khi hover */
}

.action-hiring:hover .excellent-choice {

    display: block; /* Hiện văn bản "Experience" khi hover */
}



/* Section 7 */


.section-7{
    margin-top: 150px;
}


.section-7 .container{
    display: flex;
    gap: 20px;
}

.content-patient{
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.content-patient h2{
    color: #0cb8b6;
}

.banner-4-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    box-shadow: 0px 10px 40px 0px rgba(29, 45, 94, .12);
    margin: 0;
    padding: 80px;
    border-radius: 10px;
    gap: 25px;
}


.info-doctor{
    gap: 10px;
}


.section-7 h2{
    color: #1d2d5e;
    font-size: 26px;
}

.section-7 span{
    color: #0cb8b6;
}


.section-7 .description p{
    padding-bottom: 0px;
    width: 645px;
}