
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f0f0f0;

}
.contain{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

/* nav */
#nav-bar{
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .1);
    transition: transform 0.3s ease, width 0.3s ease;
     
    
}

.nav-logo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 90px;
    gap: 40px;
    background-color: #fff;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .1);

}

.nav-logo img{
    width: 150px;
    height: 60px;
    background-repeat: no-repeat;
    object-fit: contain;
}

.menu-bar{
    border: none;
    background-color: #fff;
}

.nav-menu{
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #fff;
    /* box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .1); */
    padding-bottom: 200px;
}
.icon-menubar{
    font-size: 30px;
    color: #6c757d;
    margin-left: 7px;
    margin-top: 20px;
}
.nav-item{
    display: flex;
    gap: 30px;
    align-items: center;
    height: 50px;
}


.nav-item-icon{
    margin-left: 10px;
    font-size: 20px;
    color: #6c757d;
}


.nav-item a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.nav-item:hover{
    background-color: #e3e3ff;
}



#nav-bar.collapsed {
    width: 50px; 
  transition: transform 0.3s ease, width 0.3s ease;/* Adjust the width when collapsed */
}

#logo.collapsed{
    display: none;
}





/* noi dung */
.content{
    width: 100%;
}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .1);
    padding-left: 60px;
    padding-right: 60px;
}


.infor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.infor img{
    width: 60px;
    height: 60px;
    border-radius: 99px;
    object-fit: contain;
}

.infor p, .dashboard{
    font-size: 20px;
}
.icon-notice{
    color: #6571ff;
    font-size: 25px;
}


.notice{
    display: flex;
    position: relative;
}


.number-notice{
    width: 20px;
    height: 20px;
    border-radius: 99px;
    background-color: #6571ff;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 10px;
}


.content-manage-patient{
    margin: 60px;
}


.infor-search{
    display: flex;
    justify-content: space-between;
}


.infor-search input{
    height: 46px;
    width: 320px;
    border-radius: .313rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid #ced4da;
    color: #6c757d;
    padding-left: 20px;

}


.action-add-appointment{
    
    background-color: #6571ff;
    border-color: #6571ff;
    width: 176px;
    border-radius: .313rem;
}


.action-add-appointment a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


/* table */

table{
    margin-top: 30px;
}
.infor-patient{
    display: flex;
    gap: 20px;
}



.infor-patient img{
    width: 50px;
    height: 50px;
    border-radius: 99px;
    object-fit: contain;
}

.infor-patient .name{
    color: #6571ff;
}


.infor-patient .email{
    color: #6c757d;
}


.schedual{
    width: 160px;
    background-color: #6571ff;
    color: white;
    text-align: center;
    border-radius: .313rem;

}

td span{
    color: #6c757d;
}