
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f0f0f0;

}
.contain{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

/* nav */
#nav-bar{
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .1);
    transition: transform 0.3s ease, width 0.3s ease;
   
    
}

.nav-logo{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 90px;
    background-color: #fff;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .1);
    padding-left: 25px;

}

.nav-logo img{
    width: 150px;
    height: 60px;
    background-repeat: no-repeat;
    object-fit: contain;

}

.menu-bar{
    border: none;
    background-color: #fff;
}

.nav-menu{
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #fff;
    /* box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .1); */
    padding-bottom: 200px;
    padding-left: 25px;
}
.icon-menubar{
    font-size: 30px;
    color: #6c757d;
    margin-left: 7px;
    margin-top: 20px;
}
.nav-item{
    display: flex;
    gap: 30px;
    align-items: center;
    height: 50px;
}


.nav-item-icon{
    margin-left: 10px;
    font-size: 20px;
    color: #6c757d;
}


.nav-item a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.nav-item:hover{
    background-color: #e3e3ff;
}



#nav-bar.collapsed {
    width: 80px; 
  transition: transform 0.3s ease, width 0.3s ease;/* Adjust the width when collapsed */
}

#logo.collapsed{
    display: none;
}





/* noi dung */
.content{
    width: 100%;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .1);
    padding-left: 60px;
    padding-right: 60px;
}


.infor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.infor img{
    width: 60px;
    height: 60px;
    border-radius: 99px;
    object-fit: contain;
}

.infor p, .dashboard{
    font-size: 20px;
}
.icon-notice{
    color: #6571ff;
    font-size: 25px;
}


.notice{
    display: flex;
    position: relative;
}
